@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
$raleway-font: "Raleway", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

// Font Family
$montserat: "Montserrat", sans-serif;
// Font Family
$josefin: "Josefin Sans", sans-serif;

//Font Weight
$mextra-light: 200;
$mlight: 300;
$mregular: 400;
$mmedium: 500;
$msemibold: 600;
$mbold: 700;
$mblack: 900;
// Font Family
$Roboto-font: "Roboto", sans-serif;
//Color
$white: white;
$black: black;
$navbar-brand-color: #7d5bf4;
$nav-link-color: black;
$introduction-h3-color: black;
$introduction-button-color: #7d5bf4;
$introduction-button-hire-text-color: white;
$introduction-button-hire-hover-text-color: black;
$description-button-color: #7d5bf4;
$get-update-background: #835df6;
